<div class="po-row">  
    <po-widget class="po-lg-11 po-mb-7" >
      <div class="po-row"> <div class="po-lg-1">
        <div class="po-font-text-bold">CLIENTE: </div></div>  
        <div class="po-lg-0">
          <div class="po-font-text">{{nome}}</div></div>
      </div>
      <div class="po-row"> <div class="po-lg-1">
        <div class="po-font-text-bold">CNPJ/CPF: </div></div>  
        <div class="po-lg-0">
          <div class="po-font-text">{{cgc}}</div></div>
      </div>
      <div class="po-row"> <div class="po-lg-1">
        <div class="po-font-text-bold">CIDADE/UF:</div></div>  
        <div class="po-lg-0">
          <div class="po-font-text">{{Municipio}} / {{uf}}</div></div>
      </div>
      <div class="po-row"> <div class="po-lg-1">
        <div class="po-font-text-bold">NÚMERO:</div></div>  
        <div class="po-lg-0">
          <div class="po-font-text">{{NumNfe}} - {{NumSerie}}</div></div>
      </div>
      <div class="po-row"> <div class="po-lg-1">
        <div class="po-font-text-bold">EMISSÃO:</div></div>  
        <div class="po-lg-0">
          <div class="po-font-text">{{datanfe}}</div></div>
      </div>
      <div class="po-row"> <div class="po-lg-1">
        <div class="po-font-text-bold">CHAVE:</div></div>  
        <div class="po-lg-0">
          <div class="po-font-text">{{chvnfe}}</div></div>
      </div>
      <div class="po-row"> <div class="po-lg-1">
        <div class="po-font-text-bold">PROTOCOLO:</div></div>  
        <div class="po-lg-0">
          <div class="po-font-text">{{protocolo}}</div></div>
      </div>
        <br>
      <div class="po-row"> <div class="po-lg-10">
        <div class="po-font-text-small"> Para verificar a autorização da SEFAZ referente à nota acima mencionada, acesse o site
          <a href="http://www.nfe.fazenda.gov.br/portal" target="_blank">http://www.nfe.fazenda.gov.br/portal</a></div></div>  
      </div>

    </po-widget>
 </div>   
 
 <div class="po-row">   
    <po-divider class="po-md-11"></po-divider>
 </div>

 <div class="po-row">  
  <div class="container" style="text-align: center;">
          <po-widget class="po-lg-11 po-mb-7"  >
          <div class="po-row" style="text-align: center;">
            <po-progress class="po-md-12" p-text="" [p-info]="progressBarInfo" [p-value]="progressBarValue">
          </po-progress>
          </div>
          <div class="po-row">
          &nbsp;&nbsp;&nbsp; <po-button p-label="  Download Danfe em PDF  "
            p-icon="po-icon po-icon-pdf"
            p-type="primary"
            (p-click)="DownloadNfe()"
            [p-disabled]="buttonDisabled"> </po-button>
            <div class="po-col" style="padding-left:50%;"><img src="/assets/loader.gif" [hidden] = 'gifDisabled' style=" width: 30%" />
              <img src="/assets/stop_dog.png" [hidden] = 'gifDisabled2' style=" width: 30%" /></div>
          </div>
          </po-widget>
        
  </div>