<div class="po-row">  
    <po-widget class="po-lg-11 po-mb-7" >
      <div class="po-font-text-bold">Cliente:</div>  
      <div class="po-font-text-bold">CNPJ:</div>
      <div class="po-font-text-bold">Cidade:</div>
      <div class="po-font-text-bold">Chave: {{chvnfe}}</div>
      <div class="po-font-text-bold">Numero: {{NumNfe}}</div>
      <div class="po-font-text-bold">Serie: {{NumSerie}}</div>
    </po-widget>
 </div>   
 
 <div class="po-row">   
    <po-divider class="po-md-11"></po-divider>
 </div>

 <div class="po-row">  
  <div class="container" style="text-align: center;">
          <po-widget class="po-lg-11 po-mb-7"  >
          <div class="po-row" style="text-align: center;">
            <po-progress class="po-md-12" p-text="" [p-info]="progressBarInfo" [p-value]="progressBarValue">
          </po-progress>
          </div>
          <div class="po-row">
          &nbsp;&nbsp;&nbsp; <po-button p-label="  Download Danfe em PDF  "
            p-icon="po-icon po-icon-pdf"
            p-type="primary"
            (p-click)="DownloadNfe()"
            [p-disabled]="buttonDisabled"> </po-button>
            <div class="po-col" style="padding-left:50%;"><img src="/assets/loader.gif" [hidden] = 'gifDisabled' style=" width: 30%" />
              <img src="/assets/stop_dog.png" [hidden] = 'gifDisabled2' style=" width: 30%" /></div>
          </div>
          </po-widget>
        
  </div>